<div class="container title-floral">
	<div style="background-color:rgba(255,255,255,0.5); padding: 10px 0 0">
		<div>Dinner Ideas</div>
	</div>
</div>


<div class="router-div" ng-repeat="dinner in Dinners">

	<div class="header-blocks">
		<div class="big-blocks">
			<div class="front" style="background: url({{dinner.image_url}}); position: relative;">
				<div class="link-style">
					</br>
				<p class="link-style-content"><a  href="{{dinner.source_url}}" target="_blank" >{{dinner.title}}</a></p>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-model="pages" class="page-bar">
	<div>
		<ul class="page-numbers">
			<a href="#" ng-click="getDinners(one)">1</a>
			<a href="#" ng-click="getDinners(two)">2</a>
			<a href="#" ng-click="getDinners(three)">3</a>
		</ul>
	</div>
</div>