<h2>Dinner Ideas</h2>

<selector-directive class="router-div" ng-repeat="dinner in Dinners">

	<p>{{dinner.title}}</p>	
	<img class="router-img" ng-src="{{dinner.image_url}}" alt="app image">
	</br>
	<a class="is-hidden" href="{{dinner.source_url}}" target="_blank">Go to recipe!</a>

</selector-directive>

<div ng-model="pages" class="page-bar">
	<div>
		<ul class="page-numbers">
			<a href="#" ng-click="getDinners(one)">1</a>
			<a href="#" ng-click="getDinners(two)">2</a>
			<a href="#" ng-click="getDinners(three)">3</a>
		</ul>
	</div>
</div>
