<div class="container title-floral">
	<div style="background-color:rgba(255,255,255,0.5); padding: 10px 0 0">
		<h1><span style="font-size:130px">Dessert Ideas<span></h1>
	</div>
</div>

	
<div class="router-div" ng-repeat="dessert in Desserts">

	<div class="header-blocks">
		<div class="big-blocks">
			<div class="front" style="background: url({{dessert.image_url}}); position: relative;">
				<div class="link-style">
					</br>
				<p class="link-style-content"><a  href="{{dessert.source_url}}" target="_blank" >{{dessert.title}}</a></p>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-model="pages" class="page-bar">
	<div>
		<ul class="page-numbers">
			<a href="#" ng-click="getDesserts(one)">1</a>
			<a href="#" ng-click="getDesserts(two)">2</a>
			<a href="#" ng-click="getDesserts(three)">3</a>
		</ul>
	</div>
</div>