<div class="container title-floral">
	<div style="background-color:rgba(255,255,255,0.5); padding: 10px 0 0">
		<div class="title">Appetizer Ideas</div class="title">
	</div>
</div>

	
<div class="router-div" ng-repeat="appetizer in Appetizers">

	<div class="header-blocks">
		<div class="big-blocks">
			<div class="front" style="background: url({{appetizer.image_url}});">
				<div style="background-color: rgba(0,0,0,0.4)">
					</br>
				<p><a  href="{{appetizer.source_url}}" target="_blank" >{{appetizer.title}}</a></p>
				
				</div>


				<!-- <img class="router-img" ng-src="{{appetizer.image_url}}" alt="app image"> -->
			</div>
			<!-- <div class="back">
			</br>
				<p>{{appetizer.title}}</p>
			</br>
				<div style="font-size:18px">For recipe, click <a  href="{{appetizer.source_url}}" target="_blank" >here! </a></div>
			</div> -->
		</div>
	</div>

</div>

<div ng-model="pages" class="page-bar">
	<div>
		<ul class="page-numbers">
			<a href="#" ng-click="getAppetizers(one)">1</a>
			<a href="#" ng-click="getAppetizers(two)">2</a>
			<a href="#" ng-click="getAppetizers(three)">3</a>
		</ul>
	</div>
</div>