<h2>Appetizer Ideas</h2>
	
<selector-directive class="router-div" ng-repeat="appetizer in Appetizers">

		<p>{{appetizer.title}}</p>
		<img class="router-img" ng-src="{{appetizer.image_url}}" alt="app image">
		</br>
		<a class="is-hidden" href="{{appetizer.source_url}}" target="_blank">Go to recipe!</a>
	
</selector-directive>

<div ng-model="pages" class="page-bar">
	<div>
		<ul class="page-numbers">
			<a href="#" ng-click="getAppetizers(one)">1</a>
			<a href="#" ng-click="getAppetizers(two)">2</a>
			<a href="#" ng-click="getAppetizers(three)">3</a>
		</ul>
	</div>
</div>